<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="base.ListenersNG" />
	</listeners>

	<test name="Test">
		<classes>
			<!--  <class name="EADCheckTimeTests.CheckCaseProcessingTimes" /> -->
			<!--	<class name="EADCheckTimeTests.CheckCaseStatus" /> -->
			<!--<class name="EADCheckTimeTests.CheckCaseStatusTracking"></class> -->
			<class name="EADCheckTimeTests.CheckCaseStatusTracking765"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->